@model GitHubInfo;

<form asp-controller="Markdown" asp-action="PushToGitHub" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="MarkdownId" />
    <div class="mb-3">
        <label asp-for="Username" class="form-label">GitHub Username</label>
        <input asp-for="Username" type="text" class="form-control"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Repo" class="form-label">Repository Name</label>
        <input asp-for="Repo" type="text" class="form-control" />
        <span asp-validation-for="Repo" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Branch" class="form-label">Repository Branch</label>
        <input asp-for="Branch" type="text" class="form-control" />
        <span asp-validation-for="Branch" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CommitMessage" class="form-label">Commit Message</label>
        <input asp-for="CommitMessage" type="text" class="form-control" />
        <span asp-validation-for="CommitMessage" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="GithubToken" class="form-label">GitHub Token</label>
        <span class="muted | modal-tooltip" data-bs-toggle="tooltip" data-bs-title="Generate a token from your GitHub profile.
        You can use either a classic or fine-grained token. Fine-grained tokens require content read/write permissions. Classic tokens require repo permissions."><i class="bi bi-question-circle"></i></span>
        <input asp-for=GithubToken type="text" class="form-control" placeholder="Paste your GitHub token here" />
        <span asp-validation-for="GithubToken" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-between align-items-center modal-footer">
        <button type="button" class="text-black btn btn-outline bg-transparent" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn">Submit</button>
    </div>
</form>


