@model GitHubInfo;

@if (TempData["GitHubLogin"] == null)
{
    <div class="alert alert-info text-center w-50 mx-auto">
        <p class="mb-0">Please connect to GitHub. <a class="" asp-area="" asp-controller="Log" asp-action="DisconnectGitHub">Manage GitHub access</a></p>

        @* <a href="https://github.com/settings/applications" target="_blank">Manage GitHub access</a> *@
    </div>
}

<form asp-controller="Markdown" asp-action="PushToGitHub" method="post" id="push-to-github-modal">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="MarkdownId" />
    @* <div class="mb-3">
        <label asp-for="Username" class="form-label">GitHub Username</label>
        <input asp-for="Username" type="text" class="form-control"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div> *@
    <div class="mb-4">
        <label asp-for="Repo" class="form-label">Repository name</label>
        <div class="d-flex p-2 | input-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.3.0 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M304 112L192 112C183.2 112 176 119.2 176 128L176 512C176 520.8 183.2 528 192 528L448 528C456.8 528 464 520.8 464 512L464 272L376 272C336.2 272 304 239.8 304 200L304 112zM444.1 224L352 131.9L352 200C352 213.3 362.7 224 376 224L444.1 224zM128 128C128 92.7 156.7 64 192 64L325.5 64C342.5 64 358.8 70.7 370.8 82.7L493.3 205.3C505.3 217.3 512 233.6 512 250.6L512 512C512 547.3 483.3 576 448 576L192 576C156.7 576 128 547.3 128 512L128 128z" /></svg>
            <input asp-for="Repo" type="text" placeholder="e.g. webapp" />
        </div>
        <p>Enter the name of the repository you want to push to.</p>
        <span asp-validation-for="Repo" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="Branch" class="form-label">Branch</label>
        <div class="d-flex p-2 | input-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.3.0 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M176 168C189.3 168 200 157.3 200 144C200 130.7 189.3 120 176 120C162.7 120 152 130.7 152 144C152 157.3 162.7 168 176 168zM256 144C256 176.8 236.3 205 208 217.3L208 288L384 288C410.5 288 432 266.5 432 240L432 217.3C403.7 205 384 176.8 384 144C384 99.8 419.8 64 464 64C508.2 64 544 99.8 544 144C544 176.8 524.3 205 496 217.3L496 240C496 301.9 445.9 352 384 352L208 352L208 422.7C236.3 435 256 463.2 256 496C256 540.2 220.2 576 176 576C131.8 576 96 540.2 96 496C96 463.2 115.7 435 144 422.7L144 217.4C115.7 205 96 176.8 96 144C96 99.8 131.8 64 176 64C220.2 64 256 99.8 256 144zM488 144C488 130.7 477.3 120 464 120C450.7 120 440 130.7 440 144C440 157.3 450.7 168 464 168C477.3 168 488 157.3 488 144zM176 520C189.3 520 200 509.3 200 496C200 482.7 189.3 472 176 472C162.7 472 152 482.7 152 496C152 509.3 162.7 520 176 520z" /></svg>
            <input asp-for="Branch" type="text" placeholder="e.g. main" />
        </div>
        <p>The branch your want to push to.</p>
        <span asp-validation-for="Branch" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="CommitMessage" class="form-label">Commit message</label>
        <div class="d-flex p-2 | input-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.3.0 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M115.9 448.9C83.3 408.6 64 358.4 64 304C64 171.5 178.6 64 320 64C461.4 64 576 171.5 576 304C576 436.5 461.4 544 320 544C283.5 544 248.8 536.8 217.4 524L101 573.9C97.3 575.5 93.5 576 89.5 576C75.4 576 64 564.6 64 550.5C64 546.2 65.1 542 67.1 538.3L115.9 448.9zM153.2 418.7C165.4 433.8 167.3 454.8 158 471.9L140 505L198.5 479.9C210.3 474.8 223.7 474.7 235.6 479.6C261.3 490.1 289.8 496 319.9 496C437.7 496 527.9 407.2 527.9 304C527.9 200.8 437.8 112 320 112C202.2 112 112 200.8 112 304C112 346.8 127.1 386.4 153.2 418.7z" /></svg>
            <input asp-for="CommitMessage" type="text" placeholder="e.g. Add README for weather app"/>
        </div>
        <p>A short message describing your changes.</p>
        <span asp-validation-for="CommitMessage" class="text-danger"></span>
    </div>
    @* <div class="mb-3">
        <label asp-for="GithubToken" class="form-label">GitHub Token</label>
        <span class="muted | modal-tooltip" data-bs-toggle="tooltip" data-bs-title="Generate a token from your GitHub profile.
        You can use either a classic or fine-grained token. Fine-grained tokens require content read/write permissions. Classic tokens require repo permissions."><i class="bi bi-question-circle"></i></span>
        <input asp-for=GithubToken type="text" class="form-control" placeholder="Paste your GitHub token here" />
        <span asp-validation-for="GithubToken" class="text-danger"></span>
    </div> *@
    <div class="d-flex justify-content-between align-items-center modal-footer mt-5 py-4">
        <button type="button" class="btn btn-secondary btn-outline" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn pushBtn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" width="20" fill="#ffffff"><!--!Font Awesome Free v7.3.0 by fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M322.5 351.7L523.4 150.9L391 520.3L322.5 351.7zM489.4 117L288.6 317.8L120 249.3L489.4 117zM70.1 280.8L275.9 364.4L359.5 570.2C364.8 583.3 377.6 591.9 391.8 591.9C406.5 591.9 419.6 582.7 424.6 568.8L602.6 72C606.1 62.2 603.6 51.4 596.3 44C589 36.6 578.1 34.2 568.3 37.7L71.4 215.7C57.5 220.7 48.3 233.8 48.3 248.5C48.3 262.7 56.9 275.5 70 280.8z" /></svg>
            Push to GitHub</button>
    </div>
</form>


