@model GitHubInfo;

<form asp-controller="Notes" asp-action="PushToGitHub" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="MarkdownId" />
    <div class="mb-3">
        <label asp-for="Username">GitHub Username:</label>
        <input asp-for="Username" type="text" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Repo">Repository Name:</label>
        <input asp-for="Repo" type="text" />
        <span asp-validation-for="Repo" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Branch">Repository Branch:</label>
        <input asp-for="Branch" type="text" />
        <span asp-validation-for="Branch" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CommitMessage">Commit Message:</label>
        <input asp-for="CommitMessage" type="text" />
        <span asp-validation-for="CommitMessage" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="GithubToken">GitHub Token:</label>
        <input asp-for=GithubToken type="text" placeholder="Paste your GitHub token here" />
        <span asp-validation-for="GithubToken" class="text-danger"></span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


@* @section Scripts {
    <script>
        const modal = document.getElementById('exampleModal');
        console.log('Modal Element:', modal);
        window.addEventListener('DOMContentLoaded', (event) => {
            const showModal = '@ViewBag.ShowModal';
            console.log('Show Modal:', showModal);
            if (showModal) {
                var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
                myModal.show();
            }
        });
    </script>
} *@

