@model GitHubInfo;

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Notes" asp-action="PushToGitHub" method="post">
                    <input type="hidden" name="id" value="@Model.NoteId"/>
                    <div class="mb-3">
                        <label for="owner">GitHub Username:</label>
                        <input type="text" name="Owner" />
                    </div>
                    <div class="mb-3">
                        <label for="owner">Repository Name:</label>
                        <input type="text" name="Repo" />
                    </div>
                    <div class="mb-3">
                        <label for="owner">Repository Branch:</label>
                        <input type="text" name="Branch" />
                    </div>
                    <div class="mb-3">
                        <label for="commit">Commit Message:</label>
                        <input type="text" name="CommitMessage" />
                    </div>
                    <div class="mb-3">
                        <label for="token">GitHub Token:</label>
                        <input type="text" name="GithubToken" placeholder="Paste your GitHub token here" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
