@model GitHubInfo;

<div class="modal fade" id="githubModal" tabindex="-1" aria-labelledby="githubModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="githubModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Notes" asp-action="PushToGitHub" method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" name="id" value="@Model.NoteId"/>
                    <div class="mb-3">
                        <label asp-for="Owner">GitHub Username:</label>
                        <input asp-for="Owner" type="text" name="Owner" />
                        <span asp-validation-for="Owner" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Repo">Repository Name:</label>
                        <input asp-for="Repo" type="text" name="Repo" />
                        <span asp-validation-for="Repo" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Branch">Repository Branch:</label>
                        <input asp-for="Branch" type="text" name="Branch" />
                        <span asp-validation-for="Branch" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="CommitMessage">Commit Message:</label>
                        <input asp-for="CommitMessage" type="text" name="CommitMessage" />
                        <span asp-validation-for="CommitMessage" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="GithubToken">GitHub Token:</label>
                        <input asp-for=GithubToken type="text" name="GithubToken" placeholder="Paste your GitHub token here" />
                        <span asp-validation-for="GithubToken" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@* @section Scripts {
    <script>
        const modal = document.getElementById('exampleModal');
        console.log('Modal Element:', modal);
        window.addEventListener('DOMContentLoaded', (event) => {
            const showModal = '@ViewBag.ShowModal';
            console.log('Show Modal:', showModal);
            if (showModal) {
                var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
                myModal.show();
            }
        });
    </script>
} *@

