@model Note
@{
    ViewData["Title"] = "Update Markdown Prompt";
}

<div class="container-fluid">
    <h1 class="display-4">Update Markdown Prompt</h1>
    <form asp-action="EditPrompt" asp-controller="Notes" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="mb-3">
            <label for="markdownText" class="form-label">Edit Prompt</label>
            <textarea class="form-control" id="markdownText" name="Text" rows="10">@Model.Text</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
