@using SmartReadmeBuilder.Models
@model Prompt

@{
    ViewData["Title"] = "Smart README Builder";
}

<section id="generate-prompt">
    <div class="container d-flex flex-column justify-content-center align-items-center h-100">
            @* <h1 class="display-4">Smart README Builder</h1> *@
        <h2 class="text-center mb-5">Write a prompt to generate your README file.</h2>
        <form asp-controller="Log" asp-action="CreatePrompt" method="post">
            <div asp-validation-summary="ModelOnly" class=""></div>
            @* <label asp-for="Text"></label> *@
            <textarea asp-for="Text" id="textbox" rows="10" cols="100" placeholder="e.g. Create a README for a Node.js app built with Express and MongoDB."></textarea>
            <button type="submit" class="btn mt-4">Generate ReadMe</button>
            <span asp-validation-for="Text" class="text-danger"></span>
        </form>
           
    </div>
</section>



