@using SmartReadmeBuilder.ViewModels

@model Markdown;

<section id="update-markdown">
    <div class="container mt-5">
        <form asp-controller="Markdown" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class=""></div>
            <div class="mb-3">
                <input asp-for="Id" type="hidden" />
                <label asp-for="Text" class="fw-bold fs-2 form-label mb-5">Edit Markdown</label>
                <textarea asp-for="Text" id="textbox" rows="30" class="w-100"></textarea>
            </div>
            
            <button type="submit" class="btn btn-outline mt-2">Update</button>
            <span asp-validation-for="Text" class="text-danger"></span>
        </form>
    </div>
</section>
