:root {
    --primary-color: #0B7189;
    --secondary-color: #170A1C;
    --tertiary-color: #9C95DC;
    --blue-color: #228CDB;
    --accent-color: #C19AB7;
}

html {
  font-size: 16px;
}

html {
    height: 100%;
}

body {
    line-height: 1.2;
    min-height: 100%;
}


/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn {
    font-weight: bold;
    color: #fff;
    padding: .5rem 1rem;
    max-width: 300px;
    background-color: var(--primary-color);
}

header {
    padding: 1rem;
}

textarea {
    padding: 1.5rem;
    border-radius: .5vw;
    resize: vertical;
}

section#generate-prompt {
    height: 80vh;
}

section#generate-prompt h2 {
    font-size: clamp(1.25rem, 1rem + 2vw, 3rem);
    max-width: 25ch;
}

section#generate-prompt form {
    display: flex;
    flex-direction: column;
}

section#generate-prompt form .btn {
        margin-inline: auto;
}

footer {
    padding-block: 2rem;
/*    margin-top: 2.5rem;*/
}

footer p > a {
    color: var(--accent-color);
/*    text-decoration: none;*/
}

footer p > a:hover {
    color: var(--secondary-color);
}


